html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'); /* roboto font.*/ 

body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    color: black;
    text-decoration: none; /* no underline */
  }

h1{
    font-size: 2em;
    font-weight: 500;
}
h2{
    font-size: 1.5em;
    color: #696969;
}
div{
    border: solid;
}

.nav{
    
    box-shadow: 0 8px 6px -6px #999;
    margin-right: 0;
    margin-left: 0;
    height: 5em;
    text-align: center;
    background-color: white;
    /*add a shadow*/
}
.title{
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 10%;
    padding-top: 2em;
    color: rgb(0, 51, 160);
    border-bottom: solid;
    border-color: #999;
    border-bottom-width: 2px;
 
    
}

.subhead{
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 10%;
    padding-top: 2em;
    color: rgb(0, 51, 160);
    border-color: #999;
    border-bottom-width: 2px;
    line-height: .7;

}

.card-container{
    padding-left: 10%
}

.card-container2{
    padding-left: 22%;
    padding-top: 3%;
    
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  margin-left: 2em;
  margin-right: 2em;
  position: relative;
  width: 300px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  vertical-align: top; /* for text*/
}




.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .circle-wire-frame{
    border-radius: 50%;
    height: 6em;
    width: 6em;
    margin: 3em auto;
    margin-bottom: 0;   
    background: #ef8913;
  }

  .subject{
    position: relative;
    text-align: center;
    font-size: calc(20px + .5vw);
    margin-top: 1em;
    color: black;
  }


  .description{
      text-align: center; 
      font-size: 16px;
      margin-top: 1em;
      color: black;
  }

  .linklist{
      font-size: calc(16px + .5vw);
      
  }
  .linklist a{
      text-decoration: underline;
      color: rgb(0, 51, 160);
  }


